{% extends "index.html" %}
{% load index %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center">
            {% for button in buttons %}
                <h1 class="display-6 fw-bold lh-1 mb-3">{{ len|index:forloop.counter }} {{ button }}</h1>
            {% endfor %}
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="d-grid gap-2">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google"><ion-icon name="logo-google"></ion-icon> Login with Google+</a>
                    <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github"><ion-icon name="logo-github"></ion-icon> Login with GitHub</a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook"><ion-icon name="logo-facebook"></ion-icon> Login with Facebook</a>
                  </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
