{% extends "main.html" %}
{% block main_content %}
<div class="list-group col-8">
    <a href="/" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-5" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0" id="message_body">{{ message.body }}</h6>
            <p class="mb-0 opacity-75" id="message_author">Sent by {{ message.author }}</p>
            </div>
            <small class="opacity-50 text-nowrap" id="message_created">{{ message.created }}</small>
        </div>
    </a>
    <div class="d-flex gap-3 justify-content-center">
        {% for button in buttons %}
            <button name="button" onclick="run_function('{{ button }}')" class="btn btn-primary btn-lg py-3 col-4">{{ button }}</button>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block main_javascript %}
<script>
    function run_function(text){
        json = {"body": text , "author": "{{ user.username }}"};
        chat_socket.send(JSON.stringify(json));
    };

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const chat_socket = new WebSocket(
        ws_scheme
        + '://'
        + window.location.host
        + '/chat/'
    );

    chat_socket.onmessage = function(message) {
        var data = JSON.parse(message.data);

        $("#message_body").html(data.body)
        $("#message_author").html("Sent by " + data.author)
        $("#message_created").html(data.created)
    };
    
</script>
{% endblock%}